body {
  margin: 0;
  background: #f5faff;
}


.navbar {
  position: sticky;
  top: 0;
  width: 90%;
  margin: 15px auto;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(114, 206, 121, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 15px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}


.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007bff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn-primary {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-secondary {
  border: 2px solid #007bff;
  padding: 10px 20px;
  border-radius: 25px;
  background: transparent;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #007bff;
  color: white;
}




